body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: large;

}
h2{
    font-size: medium;
    font-style: italic;
}
h4{
    font-weight: strong;
    color:rgb(4, 110, 112)
}
p{
    font-size: 14px;
    text-align: justify;
}